scopeName: 'source.sleet'
name: 'Sleet'
fileTypes: ['sleet', 'st']
patterns: [
    match: '\\s*\\.\\s*$'
,
    match: '[^\\w\\|=+\'\"\\s():>#&@$_.-]'
    name: 'invalid.illegal.sleet'
,
    begin: '^(\\s*)#\\.\\s*$'
    end: '^(?!\\1\\s+|$)'
    name: 'comment.block.sleet'
,
    match: '^\\s*#\\s+(.*)$'
    name: 'comment.line.sleet'
,
    begin: '^(\\s*)\\|\\.\\s*$'
    end: '^(?!\\1\\s+|$)'
    comment: 'pipeline text block'
,
    match: '^(\\s*)\\|\\s+.*$'
    comment: 'pipeline text'
,
    include: '#coffee'
,
    include: '#coffee-inline'
,
    include: '#markdown'
,
    include: '#markdown-inline'
,
    include: '#script'
,
    include: '#script-inline'
,
    begin: '^(\\s*)([\\w$@_-]*)(([.#][\\w$@_-]*)*)(?=.*\\s*\\.\\s*$)'
    beginCaptures:
        2: name: 'entity.name.tag.sleet'
        3: name: 'entity.other.attribute-name.sleet'
    end: '^(?!(\\1\\s)|\\s*$)'
    patterns: [
        include: '#line-end-with-dot'
    ]
,
    include: '#tag'
,
    include: '#attribute'
,
    match: '&([\\w$@_-]+)\\(([^)]*)\\)'
    name: 'entity.name.attribute.sleet'
    captures:
        1: name: 'entity.other.attribute-name.sleet'
        2: name: 'string.quoted.sleet'
,
    match: '(?<=\\S)\\s+.*$'
    comment: 'inline text'
]
repository:
    tag:
        match: '(^\\s*|\\s*[:>+]\\s*)([\\w$@_-]*)(([.#][\\w$@_-]+)*)'
        captures:
            2: name: 'entity.name.tag.sleet'
            3: name: 'entity.other.attribute-name.sleet'

    attribute:
        begin: '\\('
        beginCaptures: 0: name: 'punctuation.definition.attribute.start.sleet'
        end: '\\)'
        endCaptures: 0: name: 'punctuation.definition.attribute.end.sleet'
        patterns: [
            match: '[^\\w=+\'\"\\s@$,_.-]'
            name: 'invalid.illegal.sleet'
        ,
            match: '(\\s*[=+]\\s*)(\'[^\']*\'|\"[^\"]*\"|[\\w$@_.-]*),?\\s*'
            captures:
                1: name: 'punctuation.definition.attribute.equals.sleet'
                2: name: 'string.quoted.sleet'
        ,
            match: '(\'[^\']*\'|\"[^\"]*\"|[\\w$@_.-]*),?\\s*'
            captures:
                1: name: 'entity.other.attribute-name.sleet'
        ]
        name: 'entity.name.attribute.sleet'

    'line-end-with-dot':
        begin: '\\G'
        end: '\\.\\s*$'
        patterns: [
            include: '#tag'
        ,
            include: '#attribute'
        ]

    coffee:
        begin: '(\\s*)(coffee)(?=.*\\.\\s*$)'
        beginCaptures:
            2: name: 'entity.name.tag.sleet'
        end: '^(?!(\\1\\s)|\\s*$)'
        patterns: [
            include: '#line-end-with-dot'
        ,
            include: 'source.coffee'
        ]
    'coffee-inline':
        begin: '(\\s*)(([\\w$@_-]*)([.#][\\w$@_-]*)*)(?=.*coffee.*\\.\\s*$)'
        beginCaptures:
            3: name: 'entity.name.tag.sleet'
            4: name: 'entity.other.attribute-name.sleet'
        end: '^(?!(\\1\\s)|\\s*$)'
        patterns: [
            include: '#line-end-with-dot'
        ,
            include: 'source.coffee'
        ]
    markdown:
        begin: '(\\s*)(markdown)(?=.*\\.\\s*$)'
        beginCaptures:
            2: name: 'entity.name.tag.sleet'
        end: '^(?!(\\1\\s)|\\s*$)'
        patterns: [
            include: '#line-end-with-dot'
        ,
            include: 'source.gfm'
        ,
            include: 'text.html.markdown'
        ]
    'markdown-inline':
        begin: '(\\s*)(([\\w$@_-]*)([.#][\\w$@_-]*)*)(?=.*markdown.*\\.\\s*$)'
        beginCaptures:
            3: name: 'entity.name.tag.sleet'
            4: name: 'entity.other.attribute-name.sleet'
        end: '^(?!(\\1\\s)|\\s*$)'
        patterns: [
            include: '#line-end-with-dot'
        ,
            include: 'source.gfm'
        ,
            include: 'text.html.markdown'
        ]
    script:
        begin: '(\\s*)(script)(?=.*\\.\\s*$)'
        beginCaptures:
            2: name: 'entity.name.tag.sleet'
        end: '^(?!(\\1\\s)|\\s*$)'
        patterns: [
            include: '#line-end-with-dot'
        ,
            include: 'source.js'
        ]
    'script-inline':
        begin: '(\\s*)(([\\w$@_-]*)([.#][\\w$@_-]*)*)(?=.*script.*\\.\\s*$)'
        beginCaptures:
            3: name: 'entity.name.tag.sleet'
            4: name: 'entity.other.attribute-name.sleet'
        end: '^(?!(\\1\\s)|\\s*$)'
        patterns: [
            include: '#line-end-with-dot'
        ,
            include: 'source.js'
        ]
