'scopeName': 'source.sleet'
'name': 'Sleet'
'fileTypes': ['sleet', 'st']
'patterns': [
	'comment': 'cmment block'
	'begin': '^(\\s*)#\\.\\s*$'
	'beginCaptures':
		'1': 'comment.line.indent.sleet'
	'end': '^(?!\\1\\s+|$)'
	'name': 'comment.block.sleet'
,
	'comment': 'single line comment'
	'match': '^\\s*#(.*)'
	'name': 'comment.line.sleet'
,
	'include': '#attribute'
,
	'include': '#predict'
,
	'include': '#coffee'
,
	'include': '#script'
,
	'include': '#markdown'
,
	'include': '#text-block'
,
	'include': '#text-inline'
,
	'include': '#tag'
]
'repository':
	'tag':
		'match': ':?\\s*([\\w$@_-]*)?([\\.#\\w$@_\\-]*[\\w$@_-])?'
		'captures':
			'1': 'name': 'entity.name.tag.sleet'
			'2': 'name': 'entity.other.attribute-name.sleet'
	'attribute':
		'begin': '\\(\\s*'
		'beginCaptures': '0': 'name': 'punctuation.definition.attribute.start.sleet'
		'end': '\\s*\\)'
		'endCaptures': '0': 'name': 'punctuation.definition.attribute.end.sleet'
		'name': 'entity.name.attribute.sleet'
		'patterns': [
			'include': '#attr-plus'
		,
			'include': '#attr'
		]
	'attr':
		'match': '([\'\"\\w$@_.-]*)(?:(\\s*=\\s*)(\'[^\']*\'|\"[^\"]*\"|[^\\s\\)]*)\\s*)?\\s*'
		'captures':
			'1': 'name': 'entity.other.attribute-name.sleet'
			'2': 'name': 'punctuation.definition.attribute.equals.sleet'
			'3': 'name': 'string.quoted.sleet'
	'attr-plus':
		'match': '\\s*(\\+)\\s*(?:\'[^\']*\'|\"[^\"]*\"|[^\\s\\)]*)\\s*'
		'name': 'string.quoted.sleet'
		'captures': '1': 'name': 'punctuation.definition.attribute.plus.sleet'
	'predict':
		'match': '\\s*\\&\\s*[\w$@_-]*'
		'name': 'punctuation.definition.predict.sleet'
	'text-block':
		'begin': '(\\s*)([\\w$@_-]*)?([\\.#\\w$@_\\-]*[\\w$@_-])?(?=.*\\.\\s*$)'
		'beginCaptures':
			'2': 'name': 'entity.name.tag.sleet'
			'3': 'name': 'entity.other.attribute-name.sleet'
		'end': '^(?!\\1\\s+|$)'
		'patterns': [
			'include': '#text-block-line'
		]
	'text-block-line':
		'begin': '\\G'
		'end': '\\.\\s*$'
		'patterns': [
			'include': '#attribute'
		,
			'include': '#predict'
		,
			'include': '#tag'
		]
	'text-inline':
		'match': '(?<=\\S)\\s+.*$'
	'coffee':
		'begin': '(\\s*)(?=.*\\bcoffee\\b.*\\.\\s*$)'
		'end': '^(?!\\1\\s+|$)'
		'patterns': [
			'include': '#text-block-line'
		,
			'include': 'source.coffee'
		]
	'markdown':
		'begin': '(\\s*)(?=.*\\bmarkdown\\b.*\\.\\s*$)'
		'end': '^(?!\\1\\s+|$)'
		'patterns': [
			'include': '#text-block-line'
		,
			'include': 'source.gfm'
		,
			'include': 'text.html.markdown'
		]
	'script':
		'begin': '(\\s*)(?=.*\\bscript\\b.*\\.\\s*$)'
		'end': '^(?!\\1\\s+|$)'
		'patterns': [
			'include': '#text-block-line'
		,
			'include': 'source.js'
		]
