'.source.sleet':
    editor:
        commentStart: '# '
        increaseIndentPattern: '(?x)
              \\{ [^}"\']* $
            | \\[ [^\\]"\']* $
            | \\( [^)"\']* $
            '
        decreaseIndentPattern: '(?x)
            ^ \\s* (\\s* /[*] .* [*]/ \\s*)* [}\\])]
            '
